.post {
  background-color: black;
  border-bottom: 1px solid #2b2b2b;
  max-width: 500px;
  margin-bottom: 45px;
}

.post--header {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.post--avatar {
  margin-right: 10px;
}

.post--image {
  width: 100%;
  object-fit: contain;
}

.post--caption {
  margin: 0px;
  font-weight: normal;
  padding: 20px;
  color: white;
}
